.Todo {
  font-size: 1.3rem;
  margin-bottom: .5em;
  border-bottom: 2px solid rgba(100, 149, 237, 0.35);
  padding-bottom: .5em;
}

.Todo-body {
  display: flex;
  flex-direction: row;
}

.Todo-text {
  width: 100%;
  text-align: left;
}

.Todo-text.done {
  color: darkgrey;
  text-decoration: line-through;
}

.Todo-checkbox {
  background-color: white;
  border: 2px solid cornflowerblue;
  border-radius: 25em;
  width: 1.1em;
  height: 1.1em;
  flex-basis: 1.25em;
  margin-right: .5em;
  opacity: 0.8;

}

.Todo-checkbox:hover {
  box-shadow: inset 0px 0px 0px 4px rgba(255,255,255,1);
  background: rgb(101, 147, 233, 0.1);
}

.Todo-checkbox.done {
  box-shadow: inset 0px 0px 0px 4px rgba(255,255,255,1);  background-color: cornflowerblue;

}

.Todo-button {
  background-color: white;
  border-radius: .2em;
  font-size: .8em;
  height: 1.2em;
  padding: .2em;
  justify-self: flex-end;
  opacity: 0.5;
  margin-left: .5em;
}

.Todo-edit {
  color: orange;
  border: 2px solid orange;
}

.Todo-edit:hover {
  color: white;
  background-color: orange;
}

.Todo-remove {
  color: red;
  border: 2px solid red;
}

.Todo-remove:hover {
  color: white;
  background-color: red;
}

.Todo-EditTodoForm {
  display: flex;
}

.Todo-EditTodoForm input {
  font-size: 1em;
  padding: .4em;
  border-radius: .3em;
  border: 2px solid cornflowerblue;
  margin-right: .5em;
  display: block;
  width: 100%;
}

.Todo-EditTodoForm input[type="number"] {
  width: 4em;
}

.Todo-EditTodoForm button {
  font-size: 1em;
  border: 2px solid cornflowerblue;
  border-radius: .3em;
  padding: .4em;
  align-self: flex-end;
  justify-self: flex-end;
}